
/*
nav .brand-logo {
    font-size: 30px;
}
*/

#bg-img {
    background: url("basketball_background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

.opaqueoverlay {
    background-color: rgba(224, 224, 224, 0.19);
}

h4, input, h6, tr, th, td, p {
    color:white;
}

label {
    font-weight: bold;
}


