{% extends 'base.html' %} 
{% block content %} 

<div class="opaqueoverlay">

<h4>New Player</h4>

  <div class="row">
    <form action="{{ url_for('insert_player') }}" method="POST" class="col s12">
        
      <div class="row">
          <div class="input-field col s12">
              <i class="material-icons prefix white">person</i>
              <input id="player_name" name="player_name" type="text" class="validate">
              <label for="player_name">Player Name</label>
          </div>
      </div>
      
      <div class="row">
          <div class="col s2 valign-wrapper">
              <div class="row">
                  <div class="col s4">
                  <i class="material-icons prefix white">face</i>
                  </div>  
                  <div class="col s8">
                  <h6>Gender</h6>
                  </div>  
              </div>       
          </div>

          <div class="col s9">
                  <input name="optGender" type="radio" id="genderM" value="M" checked/>
                  <label for="genderM">Male</label>
                  <input name="optGender" type="radio" id="genderF" value="F"/>
                  <label for="genderF">Female</label>
          </div>
      </div>


      <div class="row">
          <div class="col s2 valign-wrapper">
              <div class="row">
                  <div class="col s4">
                  <i class="material-icons prefix white">play_arrow</i>
                  </div>  
                  <div class="col s8">
                  <h6>Position</h6>
                  </div>  
              </div>       
          </div>
              
          <div class="col s9">
                  <input class="with-gap" name="optPosition" type="radio" id="guardP" value="G" checked/>
                  <label for="guardP">Guard</label>
                  <input class="with-gap" name="optPosition" type="radio" id="forwardP" value="F"/>
                  <label for="forwardP">Forward</label>
                  <input class="with-gap" name="optPosition" type="radio" id="centerP" value="C"/>
                  <label for="centerP">Center</label>              
          </div>
      </div>


      <div class="row">
          <div class="col s2 valign-wrapper">
              <div class="row">
                  <div class="col s4">
                  <i class="material-icons prefix white">place</i>
                  </div>  
                  <div class="col s8">
                  <h6>Birth Reg.</h6>
                  </div>  
              </div>       
          </div>
              
          <div class="col s9">
                  <input class="with-gap" name="optBirthRegion" type="radio" id="EuropeBR" value="Europe"/>
                  <label for="EuropeBR">Europe</label>
                  <input class="with-gap" name="optBirthRegion" type="radio" id="AmericaBR" value="America" checked/>
                  <label for="AmericaBR">America</label>
                  <input class="with-gap" name="optBirthRegion" type="radio" id="AfricaBR" value="Africa"/>
                  <label for="AfricaBR">Africa</label> 
                  <input class="with-gap" name="optBirthRegion" type="radio" id="AsiaBR" value="Asia"/>
                  <label for="AsiaBR">Asia</label>
                  <input class="with-gap" name="optBirthRegion" type="radio" id="AustraliaBR" value="Australia"/>
                  <label for="AustraliaBR">Australia</label>  
                  <input class="with-gap" name="optBirthRegion" type="radio" id="SABR" value="South America"/>
                  <label for="SABR">South America</label>                   
          </div>
      </div>
    
      <div class="row">  
        <div class="input-field col s6">
            <i class="material-icons prefix white">poll</i>
            <select id="disc1" name="disc1">
                <option value="" disabled selected>Choose discipline One</option>
                {% for disc in disciplines %}
                <option value="{{ disc }}">{{disc | upper}}</option>
                {% endfor %}                 
            </select>
            <label>Favorite Discipline One</label>
        </div>
        
        <div class="col s4 valign-wrapper">
              <div class="row">
                  <div class="col s4">
                  <div class="row"> 
                      <div class="col s10 offset-s2">
                         <h6>Rating</h6>
                      </div>
                  </div>
                  </div>  
              <div class="input-field col s8">
                  <input id="disc1_rate" name="disc1_rate" type="text" data-length="3">
                  <label for="disc1_rate">Rate me from 1-10</label>
                  </div>                   
              </div>       
         </div>
      </div>
      

      <div class="row">  
        <div class="input-field col s6">
            <i class="material-icons prefix white">poll</i>
            <select id="disc2" name="disc2">
                <option value="" disabled selected>Choose discipline Two</option>
                {% for disc in disciplines %}
                <option value="{{ disc }}">{{disc | upper}}</option>
                {% endfor %}                
            </select>
            <label>Favorite Discipline Two</label>
        </div>
        
        <div class="col s4 valign-wrapper">
              <div class="row">
                  <div class="col s4">
                  <div class="row"> 
                      <div class="col s10 offset-s2">
                         <h6>Rating</h6>
                      </div>
                  </div>
                  </div>  
              <div class="input-field col s8">
                  <input id="disc2_rate" name="disc2_rate" type="text" data-length="3">
                  <label for="disc2_rate">Rate me from 1-10</label>
                  </div>                   
              </div>       
         </div>
      </div>   
      
      
      <div class="row">        
        <div class="input-field col s6">
            <i class="material-icons prefix white">poll</i>
            <select id="disc3" name="disc3">
                <option value="" disabled selected>Choose discipline Three</option>
                {% for disc in disciplines %}
                <option value="{{ disc }}">{{disc | upper}}</option>
                {% endfor %}
            </select>
            <label>Favorite Discipline Three</label>
        </div>
        
        <div class="col s4 valign-wrapper">
              <div class="row">
                  <div class="col s4">
                  <div class="row"> 
                      <div class="col s10 offset-s2">
                         <h6>Rating</h6>
                      </div>
                  </div>
                  </div>  
              <div class="input-field col s8">
                  <input id="disc3_rate" name="disc3_rate" type="text" data-length="3">
                  <label for="disc3_rate">Rate me from 1-10</label>
                  </div>                   
              </div>       
         </div>
      </div>        

      <div class="row"> 
        <div class="input-field col s6">
            <i class="material-icons prefix white">pin_drop</i>
            <select id="virtualplace" name="virtualplace">
                <option value="" disabled selected>Choose Virtual Place</option>
                {% for v in virtuals %}
                <option value="{{ v }}">{{v | upper}}</option>
                {% endfor %}
            </select>
            <label>On a Virtual time, a place to go for</label>
        </div>      
      
        <div class="col s4 valign-wrapper">
              <div class="row">
                  <div class="col s4">
                  <div class="row"> 
                      <div class="col s10 offset-s2">
                         <h6>Virtual Times</h6>
                      </div>
                  </div>
                  </div>  
              <div class="input-field col s8">
                  <input id="vp_time" name="vp_time" type="text" data-length="4">
                  <label for="vp_time">Times from 0-20</label>
                  </div>                   
              </div>       
         </div>      
      </div> 

      <div class="row">
          <button class="btn waves-effect waves-light blue" type="submit" name="action">Add Player in List
                <i class="material-icons right">playlist_add</i>
          </button>
      </div> 
      
    </form>
  </div>

</div>

{% endblock %}