{% extends 'base.html' %} 
{% block content %} 

<!-- section header vie list summary btn, add player btn, flask messages for add/edit/delete and already exists player -->
<section> 
    <div class="valign-wrapper">
        <h4 class="white-text fw400">List Summary</h4>
        <a class="waves-effect waves-light btn blue btn_list"><i class="material-icons right">view_list</i>Show</a>
        <a href="{{ url_for('add_player') }}" class="btn_list btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
    </div>
    
    <!-- flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="msg msg-{{ category }} z-depth-3 text-white">{{ message.title() }} </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
</section>

<!-- chart section. piechart for ranging favorite player's region and top 5 classification of admired players -->
<section> 
    <div class="row visualswitcher"> 
        <div class="col s12 m5 xl4">
            <div class="col s7 offset-s2">
                <p id="headerPSpanPos" class="white-text fw300">BIRTH_REGION <span><i class="material-icons">place</i></span></p>
            </div>
            <div class="col s12 m12" id="birth_region"></div>
        </div>
        <div class="col s12 m7 xl6">
            <div class="col s6 offset-s2">
                <p class="white-text fw300">VIRTUAL_SPEND &#36;</p>
            </div>
            <div class="col s12 m12" id="virtual_spend_top"></div>
        </div>    
    </div>
</section>

<!-- table section. headers and rows of players attributes, horizontally and vertically scrollable with highlight class row  -->
<section> 
<div id="tbl-container" class="visualswitcher">
    
    <div id="table-text-header" class="row">
        <div class="col s9 offset-s2">
            <p class="white-text fw300">TABLE_SCROLLABLE <span><i class="material-icons">swap_vert</i></span> 
            <span><i class="material-icons">swap_horiz</i></span></p>
        </div>    
    </div>
    
    <div id="table-header">
        <table id="headertable">
            <tr class="white-text">
                  <th class="hcell">Pos</th>
                  <th class="hcell">Name</th>                  
                  <th class="hcell">Gender</th>
                  <th class="hcell">Birth</th>
                  <th class="hcell">Disc_G</th>
                  <th class="hcell">Disc_S</th>
                  <th class="hcell">Disc_B</th>
                  <th class="hcell">Disc_Avg</th>
                  <th class="hcell">Virtual &#36;</th>
                  <th class="hcell">Edit/Del</th>
            </tr> 
        </table>
    </div>    
    
    <div id="table-body">
        <table id="bodytable" class="highlight">
            <tbody>    
                {% for player in ubp %}
                <tr class="player white-text">
                    <td class="bcell">{{ player['position'] }}</td>    
                    <td class="bcell">{{ player['name'].title() }}</td>                    
                    <td class="bcell">{{ player['gender'] }}</td>
                    <td class="bcell">{{ player['birth_region'] }}</td>    
                    <td class="bcell">{{ player['discipline']['disc1'][0] | upper }}</td>
                    <td class="bcell">{{ player['discipline']['disc2'][0] | upper }}</td>
                    <td class="bcell">{{ player['discipline']['disc3'][0] | upper }}</td>   
                    <td class="bcell">{{ format_avg(player['discipline']['disc1'][1],player['discipline']['disc2'][1],player['discipline']['disc3'][1]) }}</td>
                    <td class="bcell">{{ format_vp(player['virtual_meet']['times_see'], player['virtual_meet']['go_for'] ) }}</td>
                    <td class="bcell"><a href="{{ url_for('edit_del_player', player_id=player['_id']) }}" class="btn-floating btn-small orange"><i class="large material-icons">mode_edit</i></a></td> <!--button-->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
</div>
</section>
{% endblock %}


{% block morescripts %}
<script type="text/javascript">

    /* retrieve birth region records to proceed with d3 piechart and discipline records to create "spark lines" on its table cells. 
    name and virtual attrs needed for barchart due to runtime funcs inserted, able to loop and retrieve all players when document is loaded */
    function array_pyToJS(ubpJS) {
        if (!ubpJS || ubpJS === "") {
            return ""; 
        }
        if (typeof ubpJS === 'string') {
            ubpJS = JSON.parse(ubpJS);
        }
        return ubpJS;
    }
    const transData = array_pyToJS('{{ ubpJS|safe }}');
    
</script>
{% endblock %}
