{% extends 'base.html' %} 
{% block content %} 

<div class="valign-wrapper">
    <h4>List Summary</h4>
    <a class="waves-effect waves-light btn blue"><i class="material-icons right">view_list</i>Show</a>
    <a href="{{ url_for('add_player') }}" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
</div>

<div class="row">
    <div class="col s12 m5">
        <div class="col-xs-12 col-sm-12">
            <p class="white">Virtual_Spend</p>
        </div>
        <div class="col s12 m12" id="virtual_spend_top"></div>
    </div>
</div>

<div style="overflow-x:auto;">
    <table>
        <tr>
              <th>Position</th>
              <th>Name</th>
              <th>Gender</th>
              <th>Birth</th>
              <th>Disc1</th>
              <th>Disc2</th>
              <th>Disc3</th>
              <th>Disc_Rate</th>
              <th>Virtual_Spend &#36;</th>
              <th>Edit/Del</th>
        </tr>    
        
        {% for player in ubp %}
        <tr class="player">
            <td>{{ player['position'] }}</td>            
            <td>{{ player['name'] }}</td>
            <td>{{ player['gender'] }}</td>
            <td>{{ player['birth_region'] }}</td>    
            <td>{{ player['discipline']['disc1'][0] }}</td>
            <td>{{ player['discipline']['disc2'][0] }}</td>
            <td>{{ player['discipline']['disc3'][0] }}</td>   
            <td>{{ format_avg(player['discipline']['disc1'][1],player['discipline']['disc2'][1],player['discipline']['disc3'][1]) }}</td>
            <td>{{ format_vp(player['virtual_meet']['times_see'], player['virtual_meet']['go_for'] ) }}</td>
            <td><a href="{{ url_for('edit_del_player', player_id=player['_id']) }}" class="btn-floating btn-small orange"><i class="large material-icons">mode_edit</i></a></td> <!--button-->
        </tr>
        {% endfor %}
    
    </table>
</div>

{% endblock %}